<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HockeyScoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HockeyScoreboard.Properties.Settings>
            <setting name="TimeoutDuration" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="BreakDuration" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="GameTimePresetA" serializeAs="String">
                <value>00:07:00</value>
            </setting>
            <setting name="GameTimePresetB" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="GameTimePresetC" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="GameTimePresetD" serializeAs="String">
                <value>00:03:00</value>
            </setting>
            <setting name="PenaltyTimePresetA" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="PenaltyTimePresetB" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="PenaltyTimePresetC" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="PenaltyTimePresetD" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="AutomaticallyStartBreak" serializeAs="String">
                <value>False</value>
            </setting>
        </HockeyScoreboard.Properties.Settings>
    </userSettings>
</configuration>