<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HockeyScoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HockeyScoreboard.Properties.Settings>
            <setting name="TimeoutDuration" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="BreakDuration" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="PeriodPresetA" serializeAs="String">
                <value>00:07:00</value>
            </setting>
            <setting name="PeriodPresetB" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="PeriodPresetC" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="PeriodPresetD" serializeAs="String">
                <value>00:03:00</value>
            </setting>
            <setting name="PenaltyTimePresetA" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="PenaltyTimePresetB" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="PenaltyTimePresetC" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="PenaltyTimePresetD" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="AutomaticallyStartBreak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTeamDirectory" serializeAs="String">
                <value>D:\\Documents\\Hockey Scoreboard\\Teams\\</value>
            </setting>
            <setting name="UsedTeamDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBackgroundMain" serializeAs="String">
                <value>51, 51, 51</value>
            </setting>
            <setting name="ColorBackgroundSecondary" serializeAs="String">
                <value>77, 79, 95</value>
            </setting>
            <setting name="ColorBorderBrush" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorPenaltyIndicatorFree" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorPenaltyIndicatorOccupied" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorTextMain" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorTextValues" serializeAs="String">
                <value>241, 205, 70</value>
            </setting>
            <setting name="ColorTextTime" serializeAs="String">
                <value>238, 69, 92</value>
            </setting>
            <setting name="ColorTextPeriod" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="DescriptiveTextFont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="ValuesTextFont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="TimeTextFont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="HornSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BuzzerSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PeriodSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BreakSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeoutSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Video1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Video2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Video3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Video4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayHornOnGoal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayHornOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayHornOnStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayBuzzerOnGoal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayBuzzerOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayBuzzerOnStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayOnPeriodChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayBreakStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayBreakEnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayTimeoutStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayTimeoutEnd" serializeAs="String">
                <value>False</value>
            </setting>
        </HockeyScoreboard.Properties.Settings>
    </userSettings>
</configuration>